.page-content {
	margin: 100px auto;
	width: 960px;
	.grid-col {
		width: 300px;
		margin: 0 10px;
		float: left;
	}
 	.grid-post {
		box-sizing: border-box;
		border: 5px solid $main_color;
		background: $main_color;
		margin: 10px 0;
		color: #000;
		text-align: center;
		img {
			cursor: pointer;
		}
	}
}
@media screen and (max-width: 980px) {
	.page-content {
		width: 720px;
		.grid-col {
			width: 48%;
			margin: 0 1%;
		}
	}
}
@media screen and (max-width: 740px) {
	.page-content {
		width: 100%;
		.grid-post {
			width: 96%;
			margin: 10px 2%;
		}
	}
}

